* {
  box-sizing: border-box;
  margin: 0px;
}

body {
  font-family: "Karla", sans-serif;
  margin: 0;
  background-color: #0B2434;
  padding: 30px;
}

main {
  padding: 36px;
  max-width: 400px;
  min-height: 400px;
  
  margin: auto;
  background: #F5F5F5;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
}


.dice-container{
  display: grid;
  grid-template: auto auto / repeat(5, 1fr);
  gap: 15px;
}

.button {
  height: 50px;
  width: 100px;
  border: none;
  border-radius: 6px;
  font-size: 1rem;
  font-family: 'Karla', sans-serif;
  cursor: pointer;
  margin: 1rem;
}

.reroll-button{
  background-color: #5035FF;
  color: white;
}

.clearScore-button{
  background-color: #aaa;
  color: grey;
}

.button:focus {
  outline: none;
}

.button:active {
  box-shadow: inset 5px 5px 10px -3px rgba(0, 0, 0, 0.7);
}

.title{
  text-align: center;
}

.instructions{
  text-align: center;
  padding: 1rem 0rem; 
}

.record-announcement{
  color: #5035FF;
  vertical-align: super;
  font-size: smaller;
}