@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap');

#root {
  font-family: 'Inter', sans-serif;
  min-width: 100%;
  max-width: 100%;
  display: flex;
  justify-content: center;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: #23252C;
  color: #DCDCDC;
  width: 100%;
  
}

.main-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 317px;
  background-color: #1A1B21;
  margin: 50px;
  border-radius: 0 0 10px 10px;
}

.info-container {
  text-align: center;
}

.info--pic {
  border-radius: 10px 10px 0 0;
  width: 317px;
}

.info--name {
  size: 25px;
  font-weight: 700;
  margin: 0;
  margin-top: 20px;
}

.info--role {
  color: #F3BF99;
  size: 10.24px;
  font-weight: 400;
  margin: 0;
  margin-top: 5px;
}

.info--site {
  size: 13px;
  font-weight: 400;
  margin: 10px;
}

.info--button-container {
  margin: 17px 0;
  display: flex;
  justify-content: space-between;
  padding: 0 35px;
}

.info--contact-button {
  padding: 9px 13px 9px 11px;
  font-size: 14px;
  display: flex;
  justify-content: space-evenly;
  width: 115px;
  border-radius: 6px;
  cursor: pointer;
}

.info--linkedin-button {
  background-color: #5093E2;
  color: white;
}

.info--email-button {
  background-color: white;
  color: black;
}

.info--contact-button > p {
  margin: 0;
}

.main--section-container {
  padding: 15px 35px;
}

.main--section-header {
  margin: 0;
  font-size: 16px;
}

.main--paragraph {
  font-weight: 400;
  font-size: 12.5px;
  line-height: 150%;
}



footer {
  background-color: #161619;
  display: flex;
  justify-content: center;
  border-radius: 0 0 10px 10px;
  margin-top: 20px;
}


.footer--icon-container{
  padding: 19px 11px;
  color: #918E9B;
  font-size: 25px;
}

.footer--icon-container :hover {
  color: white;
  transition: 0.25s ease-in-out;
  cursor: pointer;
}